brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==4.0.0
click==7.1.2
comtypes==1.1.8
cryptography @ file:///C:/ci/cryptography_1601046909128/work
dataclasses==0.8
filelock==3.0.12
google-api-core==1.26.1
google-auth==1.27.1
google-cloud-texttospeech==2.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata==3.7.0
joblib==1.0.1
libcst==0.3.17
mypy-extensions==0.4.3
numpy==1.19.5
packaging==20.9
proto-plus==1.14.2
protobuf==3.15.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pypiwin32==223
PySocks==1.7.1
pyttsx==1.1
pyttsx3==2.90
pytz==2021.1
pywin32==300
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
rsa==4.7.2
sacremoses==0.0.43
six==1.15.0
SpeechRecognition==3.8.1
tokenizers==0.10.1
torch==1.8.0
tqdm==4.59.0
transformers==4.3.3
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.4.1
