certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
dataclasses==0.8
filelock==3.0.12
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
numpy==1.19.5
packaging==20.9
PyAudio==0.2.11
pyparsing==2.4.7
pypiwin32==223
pyttsx3==2.90
pywin32==300
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
six==1.16.0
SpeechRecognition==3.8.1
tokenizers==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==4.6.1
typing-extensions==3.10.0.0
urllib3==1.26.4
wincertstore==0.2
zipp==3.4.1
